@import "variables";
@import "mixins";
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  //padding: 0 10px 0 10px;
  margin: 0 auto;
}

.tablet {
  display: none;
}
.header {
  background-image: url("../img/header_background.png");
  background-position: center;
  height: 718px;
}

.header__background {
  background: #27262A;
}

.header__navbar {
  display: flex;
  height: 103px;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding-top: 34px;
  position: relative;
}
.header__flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.header__logo-section {
  display: flex;
  position: relative;
  width: 50px;
}
.header__logo-image {
  background-image: url("../img/logo-image.svg");
  width: 167px;
  height: 56px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.header__buy-button {
  width: 119px;
  height: 37px;
  border-radius: 40px;
  background: $mainColor;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $textColor;
  font-family: $mainTextFamily;
  font-size: 15px;
  font-weight: 700;
}
.header__nav-burger-section{
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__nav-burger {
  margin-right: 5px;
  width: 26px;
  position: relative;
  @include burger-line;

  &::before {
    content: "";
    width: 15px;
    position: absolute;
    bottom: 9px;
    @include burger-line;
  }

  &::after {
    content: "";
    width: 26px;
    position: absolute;
    top: 9px;
    @include burger-line;
  }
}
.header__title-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $mainTextFamily;
}
.header__nav-list {
  position: absolute;
  top: 103px;
  right: 14px;
  margin: 0 auto;
}
.header__nav-list--active{
  display: none;
}
.header__nav-item {
  width: 292px;
  height: 88px;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $textColor;
  font-size: 26px;
  font-style: $mainTextFamily;
  border-bottom: 3px solid  #3B3B3B;
  position: relative;
  cursor: pointer;
  &:hover {
    color: $mainColor;
  }
  &:hover::before {
    background: $mainColor;
    position: absolute;
    content: "";
    left: 2px;
    width: 8px;
    height: 53px;
  }
}

.header__title {
  font-size: 48px;
  font-weight: 700;
  color: $textColor;
  margin-top: 50px;
  margin-bottom: 19px;
}
.header__slogan {
  font-size: 18px;
  color: $mainColor;
  display: flex;
  flex-direction: column;
}
.header__supported-os {
  text-transform: uppercase;
  color: $subtextColor;
  font-size: 14px;
}
.header__download-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 394px;
}
.header__download-button{
  width: 290px;
  height: 45px;
  border-radius: 40px;
  background: $mainColor;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $textColor;
  font-family: $mainTextFamily;
  font-size: 15px;
  font-weight: 700;
}
.header__free-period{
  font-size: 14px;
  color: $subtextColor;
}
@media screen and (max-width: 320px) {
  body{
    width: 320px;
  }
}
@media screen and (min-width: 481px) {
  .tablet {
    display: block;
  }
  .header__logo-section {
    align-items: center;
    margin: 10px 10px 10px 10px;
    position: relative;
  }
  .header__logo-image {
    background-image: none;
    width: 43px;
    height: 41px;
  }
  .header__logo-title {
    text-transform: uppercase;
    font-size: 24px;
    font-style: $subTextFamily;
    color: $mainColor;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 15px 15px 65px;
    background-image: url("../img/logo-image.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
  }
  .header__navbar {
    flex-direction: column;
    padding-top: 0;
    height: 118px;
  }
  .header__flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
  }
  .header__nav-burger-section {
    display: none;
  }
  .header__nav-list{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 90%;
  }
  .header__nav-item{
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 0;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    color: $mainColor;
    &:active::before {
      content: "";
      display: none;
    }
  }
  .header__buy-button {
    width: 145px;
    margin: 10px 10px 10px 10px;
  }
  .header__slogan{
    flex-direction: row;
    white-space: nowrap;
  }
  .header__slogan-span {
    text-transform: lowercase;
    padding-left: 5px;
  }
  .header__logo-section {
    margin: 30px 10px 10px 70px;
    &:hover {
      color: $textColor;
    }
  }
  .header__buy-button {
    margin: 30px 70px 10px 10px;
  }
  .header__logo-title:hover {
    color: $textColor;
    background-image: url("../img/logo-hover.png");
  }
  .header__nav-item:hover {
    color: $textColor;
  }
  .header__buy-button:hover {
    background: $textColor;
    color: $mainColor;
  }
  .header__download-button:hover {
    background: $textColor;
    color: $mainColor;
    border: 1px solid $mainColor;
    cursor: pointer;
  }
}
@media screen and (min-width: 993px) {
  .header__background {
    background: #000;
  }
  .header__nav-list {
    position: absolute;
    top: 35px;
    right: 215px;
    width: 50%;
  }
}
@media screen and (min-width: 1201px) {
  .container{
    width: 1200px;
  }
}