@import "variables";
@mixin burger-line {
  height: 3px;
  background: $textColor;
  border-radius: 5px;
}
@mixin flex-column() {
  display: flex;
  flex-direction: column;}
@mixin burger-line {
  height: 3px;
  background: $textColor;
  border-radius: 5px;
}