@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

h6 {
  margin: 0;
}
a{
  color: black;
}

.container {
  //padding: 0 10px;
  margin: auto;
}

.revolutionary-container {
  margin: auto;
}

.revolutionary-editor {
  padding: 80px 0 6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.revolutionary-editor__title {
  font-family: $mainTextFamily;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 33px;
  color: #635C73;
  text-align: center;
  margin-bottom: 27px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
}

.revolutionary-editor__description {
  font-family: $subTextFamily;
  font-size: 14px;
  font-weight: 400;
  color: #323232;
  text-align: center;
  margin-bottom: 36px;
  line-height: 20px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics__container {
  display: flex;
}

.statistics__item {
  width: 122px;
  height: 26px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.statistics__item--watch {
  margin-right: 5px;
}

.statistics__item--bottom {
  margin-top: 10px;
}

.statistics-item-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 8px;
}

.statistics__item-name {
  padding-left: 30px;
}

.statistics__item-value {
  padding: 5px 12px 5px 10px;
  background: #FFFFFF;
  position: absolute;
  left: 71px;
  border-radius: 3px;

  &::before {
    content: "";
    width: 1px;
    height: 24px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    position: absolute;
    top: 0;
  }
}

.statistics__item-value--star {
  left: 65px;
}


//.what-you-get-container{
//  margin: auto;
//}
.what-you-get__title {
  color: $mainColor;
  font-family: $mainTextFamily;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  //margin-bottom: 36px;
  letter-spacing: 2px;
}

.what-you-get__title-box {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.what-you-get__title:nth-child(2) {
  margin-bottom: 30px;
}

.what-you-get-item {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.what-you-get-item__icon:nth-child(1) {
  width: 111px;
  height: 64px;
  margin: 0 10px 0 20px;
}

.what-you-get-item__i {
  width: 90px;
  height: 80px;
  margin: 0 30px 0 20px;
}

.what-you-get-item__ic {
  width: 60px;
  height: 84px;
  margin: 0 45px 0 35px;
}

.what-you-get-item__ico {
  width: 71px;
  height: 71px;
  margin: 0 30px 0 37px;
}

.what-you-get-item__title {
  font-family: $mainTextFamily;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 27px;
  color: #323232;
}

.what-you-get-item__description {
  font-family: $subTextFamily;
  color: $subtextColor;
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding: 0 10px 0 10px;
}

.what-you-get__image {
  max-width: 100%;
}

.what-you-get__image-container {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (min-width: 481px) {
  .what-you-get-item {
    flex-direction: row;
    margin-bottom: 60px;
  }
  .what-you-get-item__title {
    text-align: left;
  }
  .what-you-get-item__description {
    padding: 0;
    text-align: left;
    margin-top: 5px;
  }
  .what-you-get-item__title {
    margin: 0;
  }
  .revolutionary-editor__title {
    display: block;
    margin-top: 90px;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 32px;
  }
  .revolutionary-editor__description {
    padding: 0 30px;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .what-you-get__title-box {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }
  .what-you-get__title {
    margin-right: 10px;
    font-size: 42px;
    line-height: 44px;
  }
  .statistics {
    flex-direction: row;
  }
  .statistics__item--bottom {
    margin: 0 5px;
  }

}

@media (max-width: 480px){
  .what-you-get__title-box{
    margin-bottom: 36px;
  }
}

@media (min-width: 481px) and (max-width: 993px) {
  .what-you-get__image-container {
    min-height: 380px;
    max-height: 519px;
    padding-left: 10%;
  }
}

@media screen and (min-width: 993px) {
  .what-you-get {
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 32px;
    @include flex-column();
    max-height: 711px;
    max-width: 1200px;
    //padding: 100px 0 33px 90px;
    //justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;

  }
  .what-you-get__image-container {
    margin-top: 50px;
    max-width: 45%;
    order: 6;
  }
  .what-you-get-item {
    max-width: 45%;
    margin-bottom: 35px;
    height: 25%;
  }

  .what-you-get__title-box {
    max-width: 50%;
    order: 5;
    margin-top: 0;
  }
  .revolutionary-editor__background {
    background: #F4F4F4;
    margin-top: 70px;
  }
}


