@import "mixins";
@import "variables";


.fork-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fork-subscription__background {
  background-image: url("../img/fork-subscription/subscription-background.png");
}

.fork-subscription__title {
  font-family: $mainTextFamily;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  line-height: 60px;
  text-align: center;
  color: white;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;

}

.fork-subscription__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fork-subscription__item {
  width: 257px;
  height: 457px;
  color: white;
  opacity: 0.8;
}
.fork-subscription__item:last-child{
  margin-top: 17px;
}
.fork-subscription__item:first-child{
  margin-bottom: 17px;
}

.fork-subscription__item-active {
  width: 299px;
  color: white;
  opacity: 0.8;
  margin-top: 17px;

  background: rgb(70, 49, 73);
}





.fork-subscription-item__header {
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255, 0.2);
}

//.active{
//  background: rgb(80, 48, 72);
//
//}

.fork-subscription-item__title {
  font-family: $mainTextFamily;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

}

.fork-subscription-item__body {
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(255, 255, 255, 0.1)

}
.fork-subscription-item__header-active {
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.2);
}
.fork-subscription-item__body-active{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 450px;

}

.fork-subscription-item__price {
  font-family: $mainTextFamily;
  font-weight: 700;
  font-size: 60px;
  line-height: 62px;
}

.fork-subscription-item__duration {
  font-family: $mainTextFamily;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.fork-subscription-item__decor-line {
  width: 60px;
  height: 5px;
  background-color: $mainColor;
  border: none;
}

.fork-subscription-item__license {
  font-family: $mainTextFamily;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  text-align: center
}

.fork-subscription-item__btn {
  width: 160px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: rgb(255, 255, 255, 0.1);
  border: none;
  color: white;
  font-family: $mainTextFamily;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
.fork-subscription-item__btn-active{
  width: 160px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: #665568;
  border: none;
  color: white;
  font-family: $mainTextFamily;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 481px) {
  .fork-subscription__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .fork-subscription__item{
    margin-left: 20px;
  }
  .fork-subscription__title{
    font-size: 42px;
    line-height: 44px;
    margin-top: 79px;
    display: inline;
  }
  .fork-subscription__item-active{
    margin: 33px 0 17px 0;
  }

}
@media screen and (min-width: 993px) {
  .fork-subscription__row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
  .fork-subscription__item-active {
    margin-left: 20px;
  }

}