@import "variables";
@import "mixins";

.testimonials-section {
  background-image: url("../img/testmonials_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials__title {
  display: flex;
  flex-direction: column;
}
.testimonials__title-text {
  font-family: $mainTextFamily;
  font-weight: bold;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 48px;
  color: $textColor;
  margin-top: 57px;
}
.testimonial__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.testimonial__item-image{
  margin-top: 5px;
}
.testimonial__item-text{
  width: 270px;
  text-align: center;
  font-family: $subTextFamily;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: $textColor;
}
.testimonial__description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial__description {
  width: 251px;
  text-align: center;
  font-family: $subTextFamily;
  font-size: 14px;
  line-height: 21px;
  color: #A291A5;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &::after{
    margin-top: 20px;
    content: "";
    width: 245px;
    height: 2px;
    background: #645766;
    bottom: -40px;
    left: 5px;
  }
}

@media screen and (min-width: 481px) {
  .testimonial-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: auto;
  }
  .testimonial__description {
    width: 704px;
  }
  .testimonials__title-text {
    flex-direction: row;
  }
  .testimonials__title-text>span {
    padding-left: 7px;
  }
}
@media screen and (min-width: 993px) {
  .testimonial-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}